{% extends 'base/main.html' %}

{% block content %}


<section id="four" class="wrapper alt style1">
    <div class="inner">
        <div id="page-wrapper">
            <div id="success-box" class="content-block">
                <h1>Thanks for reaching out!</h1>
                <p>Your message was successfully sent. I will do my best to get back to you in a timely manner :)</p>
                <a id="back-btn" class="button primary" href="{% url 'home' %}">BACK TO HOME PAGE</a>
            </div>
        </div>
    </div>
</section>





{% endblock content %}