<!-- Header -->
<style>
.navbar {
  overflow: hidden;
  position: relative;
  display: block;
  top: 0;
}

.navbar a {
  float: left;
  padding: 0px 10px;
}
</style>
<header id="header" class="alt">
    <div class="navbar">
        <ul>
            </li><h3><a href="{% url 'home' %}">Home </a></h3></li>
            </li><h3><a href="{% url 'home' %}#one">About </a></h3></li>
            </li><h3><a href="{% url 'home' %}#four">Portfolio </a></h3></li>
            </li><h3><a href="{% url 'home' %}#footer">Contact</a></h3></li>
        </ul>
    </div>
    <nav>   
        
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'posts' %}">Portfolio</a></li>
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <li><p><a href="{% url 'logout' %}">Log Out</a></p></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
            
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>