{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .navbar {
      overflow: hidden;
      position: relative;
      display: block;
    }
    
    .navbar a {
      float: left;
      padding: 0px 10px;
    }
</style>
<header id="header" class="alt">
    <div class="navbar">
        <ul>
            </li><h3><a href="{% url 'home' %}#banner">Home </a></h3></li>
            </li><h3><a href="{% url 'home' %}#one">About </a></h3></li>
            </li><h3><a href="{% url 'home' %}#four">Portfolio </a></h3></li>
            </li><h3><a href="{% url 'home' %}#footer">Contact</a></h3></li>
        </ul>
    </div>
    
</header>
<section id="four" class="wrapper alt style1">
    <div class="inner">
        <form method="post" class="from-group">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input class="button primary" type="submit" value="Login">
            <p>Don't have an account? Create one <a href="{% url 'signup' %}">here</a></p>
        </form>
    </div>
</section>


{% endblock content %}